.padding {
  padding: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;    
  font-weight: 600;
}

li a:hover {
  color: #111111;
}
.navbar-nav {
    display: inline;
    margin-left: 40px;
}
